  <header class="main-header clearfix">
    <div class="now-available clearfix">
      <div class="notice">{{{website.nowAvailableNotice}}}</div>
      <a href="http://secure.macaw.co" class="get-it-button">{{'Get it now' | translate}}</a>
    </div>
    <img class="image" src="http://www.macaw.sk/macaw/macaw-site/images/logo.png">
  </header>
  <section class="hero clearfix">
    <h1 class="_text _text-1">{{item.hero.headline}}</h1>
    <h2 class="_text _text-2">{{item.hero.subheadline}}</h2>
    <img class="image" src="http://www.macaw.sk/macaw/macaw-site/images/hero-2.jpg">
  </section>
  <section class="testimonial clearfix">
    <blockquote class="_text">"{{item.testimonial.quote}}"</blockquote>
    <div class="by by-1">—{{item.testimonial.quote}}</div>
  </section>
  <section class="features clearfix">
    <p class="text _text">{{item.features.line}}</p>
    {{#item.features.hasFeatureList}}
    <ul class="feature-list repeat-item-features-_feature_list_ clearfix">
      {{#item.features.featureList}}
      <li class="feature clearfix">
        <div class="feature-image">{{>elements/image}}</div>
        <h3 class="feature-name">{{name}}</h3>
        <p class="feature-text">{{text}}</p>
      </li>
      {{/item.features.featureList}}
    </ul>
    {{/item.features.hasFeatureList}}
  </section>
  <section class="engine stream clearfix">
    <img class="engine-image" src="http://www.macaw.sk/macaw/macaw-site/images/stream-black.png">
    <h4 class="engine-name">{{item.engines.stream.name}}</h4>
    <h5 class="engine-short">{{item.engines.stream.short}}</h5>
    <div class="engine-text">{{item.engines.stream.text}}</div>
  </section>
  <section class="testimonial clearfix">
    <blockquote class="_text">"{{item.engines.stream.testimonial.quote}}"</blockquote>
    <div class="by by-2">—{{item.engines.stream.testimonial.by}}</div>
  </section>
  <section class="engine alchemy clearfix">
    <img class="engine-image" src="http://www.macaw.sk/macaw/macaw-site/images/alchemy-black.png">
    <h4 class="engine-name">{{item.engines.alchemy.name}}</h4>
    <h5 class="engine-short">{{item.engines.alchemy.short}}</h5>
    <div class="engine-text">{{item.engines.alchemy.text}}</div>
  </section>
  <section class="testimonial clearfix">
    <blockquote class="_text">"{{item.engines.alchemy.testimonial.quote}}"</blockquote>
    <div class="by by-3">—{{item.engines.alchemy.testimonial.by}}</div>
  </section>
  <section class="team-block">
    <div class="team clearfix">
      {{#website.hasTeam}}
      <ul class="team-blocks repeat-website-team clearfix">
        {{#website.team}}
        <li class="team-member clearfix">
          <div class="team-member-role">{{name}}</div>
          <div class="hadle">{{>elements/twitter-handle}}</div>
          <div class="team-member-name">{{role}}</div>
        </li>
        {{/website.team}}
      </ul>
      {{/website.hasTeam}}
    </div>
  </section>
  <footer class="main-footer clearfix">
    <div class="copyright">Copyright 2013{{#website.copyrightYear}}–{{website.copyrightYear}}{{/website.copyrightYear}}&nbsp;Macaw LLC</div>
    {{#website.footer.hasNav}}
    <nav class="utility-nav repeat-website-footer-nav clearfix">
      {{#website.footer.nav}}
      <a href="{{url}}" class="footer-link">{{text}}</a>
      {{/website.footer.nav}}
    </nav>
    {{/website.footer.hasNav}}
  </footer><link concatenate href="http://www.macaw.sk/macaw/macaw-site/css/standardize.css" media="all" rel="stylesheet" type="text/css" />
<link concatenate href="http://www.macaw.sk/macaw/macaw-site/css/styles.css" media="all" rel="stylesheet" type="text/css" /><script concatenate src="http://www.macaw.sk/macaw/macaw-site/js/jquery-min.js" type="text/javascript"></script>